footer {
   
    background-color: #353535;
    padding: 20px;

.footer_title {
    padding-bottom: 10px;


.titre-logo {
   font-family: $logo-title-font;
   color: $white;
   font-weight: lighter;
}


    i {
        height: 0.5rem;
        width: auto;
    }
}

.footer_item {
    width: 100%;
	display: flex;
	color: $white;
	padding-bottom: 8px;
    i {
        padding-right: 15px;
   }
}


}