.loader {

    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    position: fixed;
    background-color: $white;
    animation: fade-out 0.5s ease-in-out both;
    animation-duration: 1S;
    z-index: 10;
  .cercle{
    
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $colour-primary; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
      color:  $colour-secondary;
    }
  }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); 
  
  } }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to{
      opacity: 0;
      visibility: hidden;
    }
    
 
  }